/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

/* common */
.has-score-color td {
    background-color: var(--bgc-sub);
}

/* compet menu */
.compet-menu {
    margin-top: 0.618em;
}

/* --- Form --- */
.form-spacer {
    font-size: 1.618em;
}

.checkbox-list-inline .form-field {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.checkbox-list-inline .form-field-checkbox {
    padding: 0.309em;
    margin: 0 0.618em 0.618em 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr-main);
}

/* params */
.params-form .fieldset-submit {
    width: 100%;
}

/* groups */
.grouped-selects .form-field,
.grouped-results .form-field,
.grouped-selects select,
.groups-select .form-field,
.groups-select select,
#FootballGroupsFormController_captcha_fieldset,
#FootballGroupsFormController_fbuttons {
    width: 100%;
}
.groups-select {
    margin: 0;
}

/* matches */
.grouped-selects .fieldset-inset,
.grouped-results .fieldset-inset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}
.grouped-selects .form-element.match-select,
.grouped-results .form-element.match-score {
    margin: 0;
    padding: 0.309em 0.309em 0;
}
.grouped-selects .grouped-inputs,
.grouped-results .grouped-inputs {
    margin: 0;
}
.grouped-selects .label-time::after {
    display: none;
}
#module-football td {
    padding: 0.309em;
}
.playground input,
.home-score input,
.home-pen input,
.away-score input,
.away-pen input {text-align: center; }

.grouped-selects .fieldset-description {
    display: flex;
    font-style: italic;
    margin: 0;
}
.grouped-selects .fieldset-description .form-element {
    margin: 0;
    justify-content: center;
}
.grouped-selects .form-element.free-select  { width: 10%; }
.grouped-selects .form-element.date-select  { width: 80%; }
.grouped-selects .form-element.playground { width: 10%; }
.grouped-selects .form-element.home-select  { width: 50%; }
.grouped-selects .form-element.away-select { width: 50%; }
@media (min-width: 1366px) {
    .grouped-selects .form-element.free-select  { width: 7%; }
    .grouped-selects .form-element.date-select  { width: 25%; }
    .grouped-selects .form-element.playground { width: 8%; }
    .grouped-selects .form-element.home-select  { width: 25%; }
    .grouped-selects .form-element.home-bracket  { width: 20%; }
    .grouped-selects .form-element.home-score  { width: 5%; }
    .grouped-selects .form-element.home-pen  { width: 5%; }
    .grouped-selects .form-element.away-pen { width: 5%; }
    .grouped-selects .form-element.away-score { width: 5%; }
    .grouped-selects .form-element.away-bracket { width: 20%; }
    .grouped-selects .form-element.away-select { width: 25%; }
}

.grouped-selects .form-element-date-time {
    padding-bottom: 0;
}

/* params */
.params-form .form-element {
    margin: 0;
    padding: 0.236em;
}
/* --- /Form --- */

/* front */
.finals-round-title {
    text-align: center;
}

.finals-round > * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.finals-match {
    margin-top: 0.309em;
    border: 1px solid var(--bdr-main);
}

.finals-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.finals-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.309em;
}
.finals-home,
.finals-away {
    padding: 0.309em;
}
.finals-away {
    border-top: 1px solid var(--bdr-main);
}

.finals-highlight {
    background-color: var(--bgc-alt) !important;
    color: var(--txt-alt) !important;
}

.club-logo { max-height: 70px; }
.club-name {
    padding-left: 0.618em;
    flex: 1 1 auto;
}

.smaller-logo { max-width: 16px; }
.small-logo   { max-width: 32px; }
.medium-logo  { max-width: 64px; }
.big-logo 	  { max-width: 96px; }
.bigger-logo  { max-width: 128px; }

/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.root-list,
.football-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

#category-nav ul ul,
#module-football .root-ul { padding-left: 1.618em; }

#category-nav .categories-item:hover { background-color: rgba(var(--main-rgb-d), 0.2); }

.categories-item {
	position: relative;
	flex: 1 1 auto;
	padding: 0.456em;
}

.has-children > [class*="toggle-menu-button-"] > .categories-item { padding-left: 1.618em; }

.has-children > [class*="toggle-menu-button-"] { cursor: pointer; }

.has-children > [class*="toggle-menu-button-"] > .categories-item:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0.456em;
	content: '\f0fe';
	font-family: 'Font Awesome 6 free';
	font-weight: 400;
}

.has-children > [class*="toggle-menu-button-"] > .is-open-menu.categories-item:before { content:'\f146'; }

[class*="items-list-"]:not([class*="items-list-0"]) {
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.reorder-items {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

[class*="items-list-"].show-list {
	opacity: 1;
	visibility: visible;
	height: auto;
}
