#module-modcatart hr {
	margin: 10px 0;
}

.pages-pagination {
	float: right;
	width: 33%;
	margin-bottom: 10px;
}

.itemcatart-modcatart.itemcatart-several h2,
.itemcatart-modcatart.itemcatart-several .more {
	margin: 0;
}

.itemcatart-modcatart.itemcatart-several .content {
	padding: 0 0.5em 0 0.5em;
}

.itemcatart-modcatart.itemcatart-several img {
	padding: 0 0 0.5em 0;
}

span.contents + hr {
	margin: 35px 0 20px 0;
	clear: both;
}

.form-field-action-link ul {
	margin: 0;
    list-style-type: none;
}

.form-field-action-link i {
	font-size: 2.3rem;
}

.fa-pagebreak:before { content: "\f0f6"; }

/* --- thumbnails --- */
.carousel-thumbnail,
.navigation-link-thumbnail { max-width: 150px;}

.carousel-thumbnail {
	display: inline-block;
	margin-bottom: 0.618em;
}

.carousel-thumbnail figcaption { text-align: center;}

.suggested-thumbnail a {
	display: block;
	text-align: center;
}

['navigation-link-'] a {text-decoration: none;}

.navigation-link-previous {float: left;}
.navigation-link-next {float: right;}
