/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

/* common */
.mb {
    margin-bottom: 0.618em;
}
.m-a {
    margin: auto;
}
.sm-width-auto,
.md-width-auto,
.lg-width-auto {
    width: auto;
}

.nowrap {
    white-space: nowrap;
}

.cell-flex::before,
.cell-flex::after {
    content: none;
}

@media (min-width: 769px) {
    .cell-inline .cell {
        max-width: 305px;
    }
}

#main-content th,
#main-content td,
#main-content tfoot td {
    padding: 0.309em;
}

th.bgc-sub {
    border: none;
}
th.bgc-sub a {
    color: var(--main-tone);
}

.is-live > * {
    background-color: rgba(var(--success-rgb-t), 0.2);
}

#main-content th.sortable-thead {
    padding-bottom: 1.809em;
}

.has-score-color td {
    background-color: var(--bgc-sub);
}

.logo-smaller { max-width: 16px; max-height: 16px; }
.logo-small   { max-width: 32px; max-height: 32px; }
.logo-medium  { max-width: 64px; max-height: 64px; }
.logo-big 	  { max-width: 96px; max-height: 96px; }
.logo-bigger  { max-width: 128px; max-height: 128px; }

/* event sub-menu */
.event-menu {
    margin-top: 0.618em;
}

/* sub-menu */
.roundmenu {
    margin: 0 0 1.618em;
}

.roundmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.roundmenu-title {
    min-width: 30px;
    display: block;
    text-align: center;
    padding: 0.228em !important;
    margin: 0 0 0.228em 0.228em;
    border-radius: 0.309em;
    border: 1px solid var(--bdr-main);
}

.roundmenu-title.current {
    border-color: var(--bdr-sub);
    background-color: var(--bgc-sub);
}

/* --- Form --- ##################################################################### */
.days-form .form-element  { flex-direction: column; }
.days-form .form-element > label { width: 100%; }

.fieldset-submit {
    width: 100%;
}

.floating-submit { position: relative;}

.floating-submit .fieldset-inset {
    padding: 0;
}

.fieldset-content .modal-nav {
    float: right;
    margin-top: 0.809em;
}

.fieldset-content .modal-nav ul {
    list-style-type: none;
}

.form-spacer {
    font-size: 1.309em;
}
.form-spacer-big {
    font-size: 1.618em;
}

.teams-checkbox .form-field {
    width: 100%;
}

.checkbox-counter {
    background-color: var(--moderator-tone);
    color: var(--txt-alt);
    padding: 0.309em;
    position: fixed;
    right: 0.618em;
    bottom: 0.618em;
    z-index: 2;
}

.label-top > label {
    position: absolute;
    bottom: calc(100% - 1px);
    left: 5px;
    padding: 0 0.228em;
    font-size: 0.618em;
    z-index: 2;
    background-color: var(--bgc-main);
    border: 1px solid var(--bdr-sub);
    width: auto !important;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
}

.label-top:hover label {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 769px) {
    .columns-6,
    .teams-checkbox .form-field-multiple-checkbox {
        columns: 2;
    }
}
@media (min-width: 1025px) {
    .columns-6,
    .teams-checkbox .form-field-multiple-checkbox {
        columns: 4;
    }
}
@media (min-width: 1366px) {
    .columns-6 {
        columns: 6;
    }
}

.teams-checkbox .form-field-checkbox {
    padding: 0.309em;
    margin: 0 0 0.309em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr-main);
}
.teams-checkbox .form-field-checkbox .checkbox {
    display: flex;
}
.teams-checkbox .form-field-checkbox .checkbox input {
    margin-right: 0.309em;
}

.portable .fieldset-inset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portable .portable-half { width: 50%; text-align: center; }
.portable .portable-full { width: 100%; }
.game-details .fieldset-inset .details-full { width: 100%; }

/* params */
.params-form .fieldset-submit,
.params-form p {
    width: 100%;
}
.params-form .form-element {
    margin: 0;
    padding: 0.236em;
}

/* fields */
.grouped-fields {
    margin: 0;
}
.grouped-fields .fieldset-inset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 0.618em 0 0;
}
.cluster-fields .fieldset-description,
.grouped-fields .fieldset-inset > * {
    padding: 0 0 0.809em;
    margin: 0 0 0 0.309em;
}
.grouped-fields .fieldset-inset > .spacer:has(hr) {
    padding: 0;
    margin: 0;
}
.grouped-fields .fieldset-inset > * > * {
    width: 100%;
}
.grouped-fields ::placeholder {
    font-size: 0.618em;
}
.grouped-fields .game-date > *,
.grouped-fields .game-team > *,
.grouped-fields select,
.grouped-fields input {
    margin: 0;
}
.grouped-fields .label-time::after {
    display: none;
}

@media (min-width: 1025px) {
    .form-element > label {
        width: calc(100% / 3);
    }

    .config-form .form-element > label {
        width: 100%;
    }
}

.not-played {
    opacity: 0.5;
    pointer-events: none;
}

@media (min-width: 769px) {
    .game-details .fieldset-inset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .game-details .fieldset-inset > * {
        width: calc(100% / 3);
    }
    .game-details .form-field {
        width: 100%;
    }
    .game-details .form-element-textarea {
        width: 100%;
    }
    input.game-details {
        width: 80px;
    }
}

.grouped-fields {
    position: relative;
}
.grouped-fields .game-playground,
.grouped-fields .game-score {
    text-align: center;
}

.grouped-fields .form-field-select select {
    width: 100%;
}

.grouped-fields .game-name               { width: 50%; }
.grouped-fields .game-date               { width: 100%; }
.grouped-fields .form-element.game-team  { width: 70%; }
.grouped-fields .form-element.game-score { width: 25%; }
.grouped-fields .game-playground         { width: 100%; }

@media (min-width: 769px) {
    .grouped-fields .game-name               { width: 50%; }
    .grouped-fields .game-date               { width: 270px; }
    .grouped-fields .form-element.game-team  { width: auto; }
    .grouped-fields .form-element.game-score { width: 70px; }
    .grouped-fields .game-playground         { width: 80px; }
}

.grouped-fields .game-name              { order: 2; }
.grouped-fields .form-field-action-link { order: 3; }
.grouped-fields .game-date              { order: 4; }
.grouped-fields .game-team.home-team    { order: 5; }
.grouped-fields .game-score.home-team   { order: 6; }
.grouped-fields .game-team.away-team    { order: 7; }
.grouped-fields .game-score.away-team   { order: 8; }
.grouped-fields .game-playground        { order: 9; }
.grouped-fields .game-status            { order: 10; }
.grouped-fields .game-hr                { order: 11; }

@media (min-width: 769px) {
    .grouped-fields .game-team.away-team    { order: 8; }
    .grouped-fields .game-score.away-team   { order: 7; }
}

.grouped-fields .game-name,
.grouped-fields .form-field-action-link {
    margin: 0;
}
.grouped-fields .form-field-action-link ul {
    list-style-type: none;
    margin: 0;
}
.grouped-fields .form-field-action-link {
    width: 50%;
    text-align: right;
}
.grouped-fields .form-field-action-link a {
    position: absolute;
    top: 0.456em;
    right: 1.618em;
    text-align: right;
}

.game-playground input,
.home-score input,
.home-pen input,
.away-score input,
.away-pen input { text-align: center; }

/* groups */
.form-element.groups-select .form-field,
.form-element.groups-select select,
#FootballGroupsFormController_captcha_fieldset,
#FootballGroupsFormController_fbuttons {
    width: 100%;
}
.form-element.groups-select {
    padding: 0;
}
/* --- /Form --- ##################################################################### */

/* front */
/* button to select next match in event home page */
#next-game { width: auto; }

/* Build club colors */
.club-colors {
	width: 25px;
	height: 25px;
	border: 1px solid var(--bdr-main);
	display: inline-block;
    vertical-align: middle;
}

/* Game layout */
.game-container {
    margin-bottom: var(--cell-gap);
    padding: 0.309em;
    border: 1px solid var(--bdr-main);
}

.game-container .game-team,
.game-container .game-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.game-container .game-details {
    padding: 0 0 0.309em;
}
.game-container .game-team .flex-team {
    padding: 0.228em;
}
.game-container .game-score {
    padding: 0.228em;
    /* background-color: var(--bgc-sub); */
    color: var(--txt-sub);
    text-align: center;
    min-width: 2.618em;
}

.club-logo { max-height: 70px; }
.club-name {
    padding-left: 0.618em;
    flex: 1 1 auto;
}

/* scm home layout */

.root-list,
.scm-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

#category-nav ul ul,
#module-scm .root-ul { padding-left: 1.618em; }

#category-nav .categories-item:hover { background-color: rgba(var(--main-rgb-d), 0.2); }

.categories-item {
	position: relative;
	flex: 1 1 auto;
	padding: 0.456em;
}

.has-children > [class*="toggle-menu-button-"] > .categories-item { padding-left: 1.618em; }

.has-children > [class*="toggle-menu-button-"] { cursor: pointer; }

.has-children > [class*="toggle-menu-button-"] > .categories-item:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0.456em;
	content: '\f0fe';
	font-family: 'Font Awesome 6 free';
	font-weight: 400;
}

.has-children > [class*="toggle-menu-button-"] > .is-open-menu.categories-item:before { content:'\f146'; }

[class*="items-list-"]:not([class*="items-list-0"]) {
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.reorder-items {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

[class*="items-list-"].show-list {
	opacity: 1;
	visibility: visible;
	height: auto;
}

/* bracket */

/* bracket layout */
.bracket-round {
    display: flex;
    flex-direction: column;
}

.bracket-round-title {
    text-align: center;
}

.bracket-round-games {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bracket-round:last-child .bracket-round-games {
    justify-content: center;
}

.row-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bracket-highlight {
    background-color: var(--bgc-sub) !important;
    color: var(--txt-sub) !important;
}
.cell-bracket {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}

.cell-bracket::before,
.cell-bracket::after {
	display: block;
	clear: both;
	content: "";
}

.cell-bracket > * {
	width: 100%;
	margin: 0 0 var(--cell-gap);
}

@media (min-width: 1025px) {
    .cell-bracket {
        flex-direction: row;
		margin: 0 var(--cell-container-gap) 0 0;
    }

    .cell-bracket > * {
        width: 320px;
        margin: 0 var(--cell-gap) var(--cell-gap) 0;
        flex-shrink: 0;
    }
}

/* Team layout */
.flex-team {
    display: flex;
    align-items: center;
}
.flex-team-container {
    display: inline-flex;
    align-items: center;
    padding: 0.309em 0;
}
.flex-team-container {
    flex-wrap: wrap;
}

.flex-team-group {
    min-width: 80px;
}

.flex-team .pinned {
    margin-right: 0.228em;
}

.flex-team img {
    max-height: 19px;
    max-width: 19px;
    margin: 0 0.228em;
}

.flex-right {
    justify-content: flex-end;
}

.flex-left {
    justify-content: flex-start;
}

@media (max-width: 568px) {
    .flex-team span { order: 2; }
    .flex-team img  { order: 1; }
}

/* details */
.cell-details {
    padding: 0.309em;
    font-weight: bold;
}
.cell-details.cell-modal .cell {
    max-width: 100%;
}

/* Minis */
#module-mini-prev-scm td,
#module-mini-next-scm td {
    padding: 0.309em;
}

/* --- fake table --- */
.scm-table,
.scm-line,
.scm-line-group  {
    display: flex;
    flex-direction: column;
}
.m-t {
    margin-top: 1.456em;
}

.scm-line-group {
    flex-direction: row;
    justify-content: space-between;
}

.scm-body .scm-line {
    border-bottom: 1px solid var(--bdr-main);
}
.scm-body .scm-line:last-child {
    border: none;
}

/* .scm-body { */
    /* border-radius: 0.809em; */
    /* box-shadow: 0 0 8px rgba(var(--bgc-rgb-a), 0.5); */
/* } */

.scm-cell {
    padding: 0.309em;
    text-align: center;
}

.scm-name {
    flex: 1 1 auto;
}

.scm-cell.cell-left  { text-align: left; }
.scm-cell.cell-right { text-align: right; }

/* .scm-body .scm-line:first-child { border-radius: 0.809em 0.809em 0 0;}
.scm-body .scm-line:last-child  { border-radius: 0 0 0.809em 0.809em;} */

.scm-cell img {
    max-height: 19px;
    max-width: 19px;
    margin: 0 0.228em;
}

.cell-truncate {display: block !important;
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 769px) {
    .scm-line {
        flex-direction: row;
    }
}

.cell-between { justify-content: space-between;}

.cell-game {
    border: 1px solid var(--bdr-main);
    margin: 0.309em;
}

.cell-game > * {
    padding: 0.618em;
}

.game-header,
.game-body {
    margin: 0;
}

.cell-game .home-team {
    text-align: right;
    display: inline-block;
    width: 38%;
}
.cell-game .game-score {
    text-align: center;
    display: inline-block;
    width: 20%;
}
.cell-game .away-team {
    text-align: left;
    display: inline-block;
    width: 38%;
}