#module-modmix hr {
	margin: 10px 0;
}

.pages-pagination {
	float: right;
	width: 33%;
	margin-bottom: 10px;
}

.itemmix-modmix.itemmix-several h2,
.itemmix-modmix.itemmix-several .more {
	margin: 0;
}

.itemmix-modmix.itemmix-several .content {
	padding: 0 0.5em 0 0.5em;
}

.itemmix-modmix.itemmix-several img {
	padding: 0 0 0.5em 0;
}

span.contents + hr {
	margin: 35px 0 20px 0;
	clear: both;
}

.category-sort,
.category-sort ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.category-sort ul li {
	display: inline-block;
	text-align: center;
}

.modmix-item-title { width: 70%; text-align: left !important;}
.modmix-item-author, .modmix-item-date {width: 14%;}

.category-id {
	font-size: 1.3em;
	text-align: left;
	padding-left: 40px;
}

.level-one-cat {
	font-size: 1.6em;
	padding-left: 20px;
}

/* --- thumbnails --- */
.carousel-thumbnail,
.navigation-link-thumbnail { max-width: 150px;}

.carousel-thumbnail {
	display: inline-block;
	margin-bottom: 0.618em;
}

.carousel-thumbnail figcaption { text-align: center;}

.suggested-thumbnail a {
	display: block;
	text-align: center;
}

['navigation-link-'] a {text-decoration: none;}

.navigation-link-previous {float: left;}
.navigation-link-next {float: right;}
